# Môi trường ảo (virtual environment)
moitruongao/


# Thư mục chứa dữ liệu người dùng
user_data/

# Các file/thư mục Python thường bỏ qua
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/

# file hệ thống macOS (nếu có)
.DS_Store
